.datospersonales {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .datospersonales h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .datospersonales label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  
  .datospersonales input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Estilos específicos para los colores pasteles */
  .datospersonales {
    background-color: #f0f7f4;
  }
  
  .datospersonales input {
    background-color: #e1f1e8;
    color: #333;
  }
  